.pagebox{
	.timebox{
		width:1.77rem;
		height:0.7rem;
		font-size:0.45rem;
		text-align:center;
		//font-family:"Platinum Beat BTN";
	}
	.datebox{
		width:1.3rem;
		height:0.35rem;
		margin-left:1.78rem;
		margin-top:-0.7rem;
		font-size:0.2rem;
		text-align:center;
	}
	.weekbox{
		width:1.16rem;
		height:0.35rem;
		margin-left:1.79rem;
		letter-spacing:1px;
		font-size:0.24rem;
		text-align:center;
	}
}