.pagebox{
    width:100%;
    height:100%;    
    .picbox{
        width:100%;
        height:100%;
        background: url('../../img/comp/finally.jpg') no-repeat;
        background-size:100% 100%;     
        position: relative;
        .speedDryer{
            animation: myLight 5s;
            animation-iteration-count: infinite;
              background: #88eeee;
            border-radius: 3px;
            box-shadow: 0px 0px 5px #fff;
            height: .3rem;
            line-height: .26rem;
            display: inline-block;
            width: 3rem;
            position: absolute;
            top: 62%;
            left: 23%;
            text-align: center;
            color:#000000;
            font-weight: bold;
        } 
        .boardNum{
            animation: myLight 3s;
            animation-iteration-count: infinite;
            background: #88eeee;
            border-radius: 3px;
            box-shadow: 0px 0px 5px #fff;
            height: .3rem;
            line-height: .26rem;
            display: inline-block;
            width: 3rem;
            position: absolute;
            top: 20.5%;
            left: 34%;
            color:#000000;
            font-weight: bold;
            text-align: center;
            .board{
                margin-top:2.5rem;
                margin-left:-13rem;
            }
        }
        .productSpeed{
            animation: myLight 4s;
            animation-iteration-count: infinite;
         background: #88eeee;
            border-radius: 3px;
            box-shadow: 0px 0px 5px #fff;
            display: inline-block;
            height: .3rem;
            line-height: .26rem;
            width: 2rem;
            position: absolute;
            top: 33%;
            left: 52%;
            color:#000000;
            font-weight: bold;
            text-align: center;
        }
        .perFeed{
            animation: myLight 5s;
            animation-iteration-count: infinite;
         background: #88eeee;
            border-radius: 3px;
            box-shadow: 0px 0px 5px #fff;
            display: inline-block;
            height: .3rem;
            line-height: .26rem;
            width: 1.5rem;
            position: absolute;
            top: 32%;
            left: 75%;
            color:#000000;
            font-weight: bold;
            text-align: center;
        } 
        .num1{
            animation: myLight 6s;
            animation-iteration-count: infinite;
            background: #88eeee;
            border-radius: 3px;
            box-shadow: 0px 0px 5px #fff;
            height: .3rem;
            line-height: .26rem;
            display: inline-block;
            height: .3rem;
            line-height: .26rem;
            width: 1.1rem;
            position: absolute;
            top: 88%;
            left: 33.2%;
            color:#000000;
            font-weight: bold;
            text-align: center;
        } 
        .num2{
            animation: myLight 3s;
            animation-iteration-count: infinite;
            background: #88eeee;
            border-radius: 3px;
            box-shadow: 0px 0px 5px #fff;
            height: .3rem;
            line-height: .26rem;
            display: inline-block;
            height: .3rem;
            line-height: .26rem;
            width: 1.1rem;
            position: absolute;
            top: 93%;
            left: 47%;
            color:#000000;
            font-weight: bold;
            text-align: center;
        }
        .num3{
            animation: myLight 4s;
            animation-iteration-count: infinite;
            background: #88eeee;
            border-radius: 3px;
            box-shadow: 0px 0px 5px #fff;
            height: .3rem;
            line-height: .26rem;
            display: inline-block;
            height: .3rem;
            line-height: .26rem;
            width: 1.1rem;
            position: absolute;
            top: 93%;
            left: 59%;
            color:#000000;
            font-weight: bold;
            text-align: center;
        } 
        .num4{
            animation: myLight 5s;
            animation-iteration-count: infinite;
            background: #88eeee;
            border-radius: 3px;
            box-shadow: 0px 0px 5px #fff;
            height: .3rem;
            line-height: .26rem;
            display: inline-block;
            height: .3rem;
            line-height: .26rem;
            width: 1.1rem;
            position: absolute;
            top: 89%;
            left: 73%;
            color:#000000;
            font-weight: bold;
            text-align: center;
        }
    }
    
    img{
       
        width:5.9rem;

        position:absolute;
        top:33.4%;
        left:2.6rem;
        height:24%;
    }
    
}


@keyframes myLight
{
  0% {background: rgba(136,238,238,1);}
  60% {background: rgba(136,238,238,0.5);}
  100% {background: rgba(136,238,238,1);}
}